@model web.Models.AcilModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Acil Kayıdını Sil</h2>

<p>Bu kaydı silmek istediğinizden emin misiniz?</p>

<form asp-action="DeleteConfirmed" method="post">
   
    <input type="hidden" name="id" value="@Model.AcilId" />
    <button type="submit" class="btn btn-danger">Evet, Sil</button>
    <a href="@Url.Action("Index", "Acil")" class="btn btn-secondary">Hayır, İptal</a>
</form>
